#head {
  height: 60rem;
  background-image: url(../images-home/muffin1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.collapse{
  padding-left:4rem;
}

.nav-item{
  padding-left:3rem;
  font-size:1.4rem;
}

.navbar-brand{
  font-size:2rem;
  font-weight:bold;
}

.image-fluid {
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
}

.menu-image {
  padding: 2rem;
  margin-left: 2.5%;
}

#menu{
   font-family: "Dongle", sans-serif;
   padding: 2rem;
   background-color: rgba(173, 216, 230, 0.178);

}

#float {
 
  font-size:3rem;
 font-weight:bold;
     
}

.me-4{
  font-style: none;
  text-decoration: none;
}

i:hover{
color: rgb(4, 4, 19);
}
